{{- $js := .Site.Data.assets.js -}}

{{/* medium-zoom */}}
{{ printf "<script src=\"%s\" integrity=\"%s\" crossorigin=\"anonymous\"></script>" (printf $js.medium_zoom.url $js.medium_zoom.version) $js.medium_zoom.sri | safeHTML }}
<script type="text/javascript">
    mediumZoom('[data-zoomable]', {background: null});
</script>


{{/* mathjax */}}
{{- if or (.Page.Store.Get "has_math") .Site.Params.mathDefaultInclude -}}
<script type="text/javascript">
    window.MathJax = {
        options: {
            // Don't render math in mindmaps as Markmap has its own math renderer.
            ignoreHtmlClass: 'markmap',
            // processHtmlClass: "has_am",
        },
        tex: {
            inlineMath: [
                ['$', '$'],
                ['\\(', '\\)'],
            ],
            displayMath: [
                ['$$', '$$'],
                ['\\[', '\\]'],
            ],
            // tags: "none",
            // useLabelIds: true,
            // tagSide: "right",
            // tagIndent: ".8em",
            processEscapes: false,
            packages: {'[+]': ['base', 'extpfeil', 'ams', 'amscd', 'newcommand', 'knowl', 'sfrac']}
        },
        chtml: {
            // scale: 0.88,
            // mtextInheritFont: true
        },
        loader: {
            load: ['input/asciimath', '[tex]/extpfeil', '[tex]/amscd', '[tex]/newcommand', '[pretext]/mathjaxknowl3.js'],
            paths: {pretext: "https://pretextbook.org/js/lib"},
        },
        startup: {
            ready() {
                //
                // Creating a simple "sfrac" package on-the-fly
                //
                const Configuration = MathJax._.input.tex.Configuration.Configuration;
                const CommandMap = MathJax._.input.tex.SymbolMap.CommandMap;

                new CommandMap('sfrac', {
                        sfrac: 'SFrac'
                    }, {
                    SFrac(parser, name) {
                        const num = parser.ParseArg(name);
                        const den = parser.ParseArg(name);
                        const frac = parser.create('node', 'mfrac', [num, den], {bevelled: true});
                        parser.Push(frac);
                    }
                });
                //
                // Create the package for the overridden macros
                //
                Configuration.create('sfrac', {
                    handler: {macro: ['sfrac']}
                });

                MathJax.startup.defaultReady();
            }
        },
    };
</script>
{{ printf "<script src=\"%s\" integrity=\"%s\" crossorigin=\"anonymous\"></script>" (printf $js.mathJax.url $js.mathJax.version) $js.mathJax.sri | safeHTML }}
{{- end -}}

{{/* mermaid */}}
{{- if .Page.Store.Get "has_mermaid" -}}
{{ printf "<script src=\"%s\" integrity=\"%s\" crossorigin=\"anonymous\" title=\"mermaid\"></script>" (printf $js.mermaid.url $js.mermaid.version) $js.mermaid.sri | safeHTML }}
<script type="text/javascript">
    mermaid.initialize({
        theme    : CONFIG.darkmode && window.matchMedia('(prefers-color-scheme: dark)').matches ? CONFIG.mermaid.theme.dark : CONFIG.mermaid.theme.light,
        darkMode: true,
        logLevel : 4,
        flowchart: { curve: 'linear' },
        gantt    : { axisFormat: '%m/%d/%Y' },
        sequence : { actorMargin: 50 }
    });
    mermaid.init();
</script>
{{- end -}}


{{/* Mindmaps */}}
{{- if .Page.Store.Get "has_markmap" -}}
<style>
    .markmap > svg {
        width: 100%;
        height: 100%;
    }
</style>
<script type="text/javascript">
    window.markmap = {
        autoLoader: {
            manual: false,
            onReady() {
                const {autoLoader, builtInPlugins} = window.markmap;
                // Disable Prism highlighting plugin as it conflicts and attempts to re-render code blocks outside of Markmap.
                autoLoader.transformPlugins = builtInPlugins.filter(plugin => plugin.name !== 'prism');
            },
        },
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/markmap-autoloader"></script>
{{- end -}}