{{/* mathjax */}}
{{- $js := .Site.Data.assets.js -}}
{{- if or (.Page.Store.Get "has_math") .Site.Params.mathDefaultInclude -}}
<script type="text/javascript">
    window.MathJax = {
        options: {
            // Don't render math in mindmaps as Markmap has its own math renderer.
            ignoreHtmlClass: 'markmap',
        },
        tex: {
            tags: 'ams',
            inlineMath: [
                ['$', '$'],
                ['\\(', '\\)'],
            ],
            displayMath: [
                ['$$', '$$'],
                ['\\[', '\\]'],
            ],
            processEscapes: false,
            packages: {'[+]': ['noerrors']},
        },
        loader: {
            load: ['[tex]/noerrors'],
        },
    };
</script>
{{ printf "<script src=\"%s\" integrity=\"%s\" crossorigin=\"anonymous\"></script>" (printf $js.mathJax.url $js.mathJax.version) $js.mathJax.sri | safeHTML }}
{{- end -}}

{{/* mermaid */}}
{{- if .Page.Store.Get "has_mermaid" -}}
{{ printf "<script src=\"%s\" integrity=\"%s\" crossorigin=\"anonymous\" title=\"mermaid\"></script>" (printf $js.mermaid.url $js.mermaid.version) $js.mermaid.sri | safeHTML }}
<script type="text/javascript">
    mermaid.initialize({
        theme    : CONFIG.darkmode && window.matchMedia('(prefers-color-scheme: dark)').matches ? CONFIG.mermaid.theme.dark : CONFIG.mermaid.theme.light,
        darkMode: true,
        logLevel : 4,
        flowchart: { curve: 'linear' },
        gantt    : { axisFormat: '%m/%d/%Y' },
        sequence : { actorMargin: 50 }
    });
    mermaid.init();
</script>
{{- end -}}


{{/* Mindmaps */}}
{{- if .Page.Store.Get "has_markmap" -}}
<style>
    .markmap > svg {
        width: 100%;
        height: 100%;
    }
</style>
<script type="text/javascript">
    window.markmap = {
        autoLoader: {
            manual: false,
            onReady() {
                const {autoLoader, builtInPlugins} = window.markmap;
                // Disable Prism highlighting plugin as it conflicts and attempts to re-render code blocks outside of Markmap.
                autoLoader.transformPlugins = builtInPlugins.filter(plugin => plugin.name !== 'prism');
            },
        },
    };
</script>
<script src="https://cdn.jsdelivr.net/npm/markmap-autoloader"></script>
{{- end -}}