{{/*
    Parameters
    ----------
    layout: default "2"
        horizontal layout images, when image number larger then layout number, the image will show in a new line.
        you can use '-' to split multiple layout

    loopLayout: default true
        will loop use layout.
            For example: the layout="2-1-2" and you have 10 images, then the images will have 6 rows,
            from first row to the last row, the image number is "2-1-2-2-1-2".
        If you set this parameter to false, the image number that larger than layout will not show.
            For example: the layout="2-1-2" and you have 10 images, then the images will only have 3 rows,
            from first row to the last row, the image number is "2-1-2".

    showIndex: default true
        if true, will show item index on left-top as a badge.

    indexShape: default "round". ["round", "corner"]
*/}}

{{- $layout := "2" -}}
{{- $loopLayout := true -}}
{{- $showIndex := true -}}
{{- $indexShape := "round" -}}

{{- if .IsNamedParams -}}
    {{ $layout = default "2" (.Get "layout") }}
    {{ $loopLayout = default true (.Get "loopLayout") }}
    {{ $showIndex = default true (.Get "showIndex") }}
    {{ $indexShape = default "round" (.Get "indexShape") }}
{{- else -}}
    {{ $layout = default "2" (.Get 0) }}
{{- end -}}

{{- $indexShape = lower $indexShape -}}
{{- if and (ne $indexShape "round") (ne $indexShape "corner") -}}
{{- $indexShape = "round" -}}
{{- end -}}

{{- $layout = trim (replace $layout " " "") "-" -}}
{{- if findRE "^([0-9]+-)*([0-9]+)$" $layout -}}
    {{/* 获取items以及items的大小 */}}
    {{- $items := split (trim (replaceRE "(\n)+" "\n" .Inner) "\n") "\n" -}}
    {{- $itemSize := cond (eq (len (index $items 0)) 0) 0 (len $items) -}}

    {{- if gt $itemSize 0 -}}
        {{/* 获取layout的set */}}
        {{- $layoutSet := slice -}}
        {{- range (split $layout "-") -}}
            {{- $layoutSet = $layoutSet | append (int (. | strings.TrimLeft "0")) -}}
        {{- end -}}

        {{/* 计算layout set的sum */}}
        {{- $layoutSetSum := 0 -}}
        {{- range $layoutSet -}}
            {{- $layoutSetSum = add $layoutSetSum . -}}
        {{- end -}}

        {{/* 计算column和row的迭代顺序 */}}
        {{- $groupIterators := "" -}}
        {{- range seq 1 (cond ($loopLayout) (div (sub (add $itemSize $layoutSetSum) 1) $layoutSetSum) 1) -}}
            {{- range $layoutSet -}}
                {{- $groupIterators = printf "%s%s%s" $groupIterators (strings.Repeat . "c") "r" -}}
            {{- end -}}
        {{- end -}}
        {{- $groupIterators = $groupIterators | strings.TrimRight "r" -}}

        {{/* 输出内容 */}}
        {{- $outputItemCount := 0 -}}
        <div class="group">
            <div class="group-row">
        {{- range (split $groupIterators "") -}}
            {{- if lt $outputItemCount $itemSize -}}
                {{- if eq . "c" -}}
                <div class="group-column">
                    {{- index $items $outputItemCount | markdownify -}}
                    {{- if $showIndex -}}<div class="{{- $indexShape -}}"><span >{{- add $outputItemCount 1 -}}</span></div>{{- end -}}
                </div>
                    {{- $outputItemCount = add $outputItemCount 1 -}}
                {{- else -}}
            </div>
            <div class="group-row">
                {{- end -}}
            {{- end -}}
        {{- end -}}
            </div>
        </div>
    {{- end -}}
{{- else -}}
    {{- printf "layout: %#v is error" $layout | safeHTML -}}
{{- end -}}